@charset "utf-8";

div.rounded{
	border-radius: 25px;	
	border:1px solid black;
	background-color: lightgrey;
	color: black;
}
div.row{
	padding-bottom:2%;
}
div.columnLeft{
	float:left;
	width:47%;
	
}
div.Mbain{
	float:right;
	width:47%;
	height:90%;
	background-color:lightgrey;
	border-radius:25px;
	border:1px solid black;
	padding-left:2%;
	margin-right:2%;

}
div.rounded{
	height:43.5%;
	margin-left:2%;
	
}
