@charset "utf-8";

div.rounded{
	border-radius: 25px;
	border:1px solid black;
	background-color: lightgrey;
	color: black;
}
div.row{
	padding-top:2rem;
	padding-bottom:2rem;
}
nav.horizontalNavigation{
	margin-top: 2rem;
}
